node_modules/
testi.js
package-lock.json
package.json
tsDemo
tmp
12-ESLint/node_modules
12-ESLint/package-lock.json
12-ESLint/package.json
JavaScript/12-ESLint/.eslintrc.json
JavaScript/14-File-IO/writeFile.txt
JavaScript/14-File-IO/writeStream.txt
JavaScript/14-File-IO/sample.js
FrontendBasics/Bootstrap/w3schools
FrontendBasics/Bootstrap/demo
Express/tutorialspoint
Databases/.env
Express/studentRegistry/.env
Express/studentRegistrySuperTest
React/vite-project
React/test1
React/react-basics/.eslintrc.cjs
React/react-basics/.gitignore
React/react-basics/README.md
React/react-basics/vite.config.js