node_modules/
testi.js
package-lock.json
package.json
tsDemo
tmp
12-ESLint/node_modules
12-ESLint/package-lock.json
12-ESLint/package.json
JavaScript/12-ESLint/.eslintrc.json
JavaScript/14-File-IO/writeFile.txt
JavaScript/14-File-IO/writeStream.txt
JavaScript/14-File-IO/sample.js
FrontendBasics/Bootstrap/w3schools
FrontendBasics/Bootstrap/demo
Express/tutorialspoint
Databases/.env
Express/studentRegistry/.env
Express/studentRegistrySuperTest
React/vite-project
React/test1
React/react-basics/.eslintrc.cjs
React/react-basics/.gitignore
React/react-basics/README.md
React/react-basics/vite.config.js
React/2-component-state/README.md
React/2-component-state/.eslintrc.cjs
React/2-component-state/.gitignore
React/2-component-state/vite.config.js
React/toDoNotes
React/toDoNotes/.eslintrc.cjs
React/toDoNotes/.gitignore
React/toDoNotes/vite.config.js
React/exercise/Assignment 3 kesken
React/BTA-React-Notes/BTA-React-Notes/.eslintrc.cjs
React/BTA-React-Notes/BTA-React-Notes/.gitignore
React/BTA-React-Notes/BTA-React-Notes/db.json
React/BTA-React-Notes/BTA-React-Notes/index.html
React/BTA-React-Notes/BTA-React-Notes/public/vite.svg
React/BTA-React-Notes/BTA-React-Notes/README.md
React/BTA-React-Notes/BTA-React-Notes/src/assets/react.svg
React/BTA-React-Notes/BTA-React-Notes/vite.config.js

